{% extends "layout.html" %}
{% block corpo %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>MODULE 4 - Calculation of moisture content at known pF</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="error" class="alert alert-danger align-items-center" style="display:none;">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div id="error-message">
            </div>
        </div>
        {% if not session.get('result') %}
        <div class="alert alert-danger align-items-center">
            <div>
                 You must give entries with values (%sand, %silt and %clay) in Module 1, otherwise it will not work.
            </div>
        </div>
        {% endif %}

<span style="font-size:18px"><strong>MODULE 4</strong></span></p>

<span style="font-size:16px">
<p><br />
(Calculation of moisture content at given pF)<br />
<br />
- Soil texture characterisation is given: %sand, %silt, %clay and %o.m.<br />
- pF is given.<br />
<br />
Module 4 in the App offers the possibility to calculate moisture content at a given pF for the soil texture class selected in Module 1. 
<br />
<br />
This procedure is in fact an automated &lsquo;reading off the pF curve&rsquo;. 
<br />
<br />
The procedure is not needed for evaluation of studies, but might be useful to gain insight in the shape of the class transfer function used. The Output in this module is moisture content, &theta;(h), in v/v units.</p>

</span>

        <form method="post" action="" id="formCalculate" class="form-horizontal" role="form">
            <div class="form-floating mb-3">
                <input type="number" step="any" name="pf" required="required" class="form-control input" id="pf"
                       placeholder="pF" value="{{ session['extra4']['pf'] or 0  }}">
                <label for="pf">pF</label>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" id="btnSave" class="btn btn-primary">Calculate</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4>Output</h4>
        <table class="table table-sm">
             <tr class="bg-warning">
                 <th>θ(h)</th>
               <td>{{session.get('result_extra4')['oh']}}</td>
            </tr>
        </table>
    </div>
</div>

<br />   
<br />   
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='extra3.js') }}" type="text/javascript"></script>
{% endblock %}
