{% extends "layout.html" %}
{% block corpo %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">MODULE 2 - Calculation of pF at applied moisture content</h1>

</div>
<div class="row">
    <div class="col-md-6">
        <div id="error" class="alert alert-danger align-items-center" style="display:none;">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div id="error-message">
            </div>
        </div>
        {% if not session.get('result') %}
        <div class="alert alert-danger align-items-center">
            <div>
                 You must give entries with values (%sand, %silt and %clay) in Module 1, otherwise it will not work.
            </div>
        </div>
        {% endif %}
        
<span style="font-size:18px"><strong>MODULE 2</strong></span></p>

<span style="font-size:16px">
<p><br />
- Soil texture characterisation is given: %sand, %silt, %clay and %o.m.<br />
- MWHC (maximum water holding capacity) of the test soil is given.<br />
- Moisture content is given as x% of MWHC.<br />
<br />
1. Enter the percentages of sand, silt, clay and organic matter in Module 1 of the App. In the Output box of Module 1, your soil has now been assigned a soil texture class.<br />
<br />
2. In Module 2 of the App, fill in the MWHC of the test soil, expressed as a percentage.<br />
<br />
3. In the next cell (list box), select whether this MWHC is expressed in w/w units (gravimetric water content) or in v/v units (volumetric water content). Select a value from the list.<br />
<br />
4. In the next cell (list box), select the pF value at which the MWHC is determined. The default value is pF 1. Select a value from the list.<br />
<br />
5. Enter the MWHC (in %) to which the test soil is moisturised.<br />
<br />
6. If the MWHC is reported as a gravimetric water content (in w/w units), the dry bulk density of the test soil should be entered in Module 2. If this value is not reported, the cell should be cleared and a default value of 1.5 kg.dm-3 will be used in the calculation.<br />
<br />
7. In the Output cell of Module 2, the pF of the test soil at &theta;act (actual moisture content) is shown.<br />
<br />        

</span>

        <form method="post" action="" id="formCalculate" class="form-horizontal" role="form">
            <div class="form-floating mb-3">
                <input type="number" step="any" name="mwhc" required="required" class="form-control input" id="mwhc"
                       placeholder="MWHC" value="{{ session['extra2']['mwhc'] or 0  }}">
                <label for="mwhc">MWHC</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="type_mwhc" required id="type_mwhc">
                    {% for item in data['type_mwhc'] %}
                        <option {{ 'selected' if item['id'] == session['extra2']['type_mwhc'] else '' }} value="{{item['id']}}">{{item['name']}}</option>
                    {% endfor %}
                </select>
                <label for="type_mwhc">Volumetric or gravimetric MWHC?</label>
            </div>
             <div class="form-floating mb-3">
                <select class="form-select" name="pf_mwhc" required id="pf_mwhc">
                    {% for item in data['pf_mwhc'] %}
                        <option {{ 'selected' if item['id'] == session['extra2']['pf_mwhc'] else '' }} value="{{item['id']}}">{{item['name']}}</option>
                    {% endfor %}
                </select>
                <label for="pf_mwhc">pF at MWHC</label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" name="percent_mwhc" required class="form-control input" id="clay" placeholder="% of MWHC"
                       value="{{ session['percent_mwhc'] or 70  }}">
                <label for="clay">% of MWHC</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number"  required name="mwhc_density" class="form-control input" id="mwhc_density"
                       placeholder="Bulk density dry soil"
                       value="{{ session['mwhc_density'] or 0  }}">
                <label for="mwhc_density">Bulk density dry soil</label>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" id="btnSave" class="btn btn-primary">Calculate</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4>Output</h4>
        <table class="table table-sm">
            <tr>
                 <th>Correction factor MWHC</th>
                <td>{{session.get('result_extra2')['correction_factor_MWHC']}}</td>
            </tr>
             <tr>
                 <th>MWHC (v/v)_at_pF0</th>
               <td>{{session.get('result_extra2')['MWHC_vv_at_pF0']}}</td>
            </tr>
             <tr>
                 <th>Actual moisture content (θact)</th>
                <td>{{session.get('result_extra2')['oact']}}</td>
            </tr>
             <tr class="bg-warning">
                 <th>pF at θact</th>
               <td>{{session.get('result_extra2')['pF_at_θact']}}</td>
            </tr>
        </table>
    </div>
</div>
<br />   
<br />   
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='extra2.js') }}" type="text/javascript"></script>
{% endblock %}
